@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

.text {
    text-align: center;
}

header {
    background: #4e3a3a;
    color: #ff7a7a;
    padding: 20px 0;
    display:flex;
}
.logo {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 0px;
    vertical-align: middle;
    flex: 1;
    flex-wrap: wrap
}
.logo img {
    width: 30%;
    height: 120%;
}
.nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
    flex: 3;
}

nav a {
    color: #ff7a7a;
    text-decoration: none;
    padding: 5px 10px;
    
}

main {
    padding: 20px;
    background-image: url('https://www.godsavethepoints.com/wp-content/uploads/2019/01/69537192_m.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

.main1 {
    padding: 20px;
    background-image: url('https://thebrainchamber.com/wp-content/uploads/2023/10/Caral-Archaeological-Site-Peru17.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

.main2 {
    padding: 20px;
    background-image: url('https://ccrma.stanford.edu/groups/chavin/images/fachada3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 900px;
}

.main3 {
    padding: 20px;
    background-image: url('https://cdn.getyourguide.com/img/location/5cd962c4df0d7-wide.jpeg/88.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

.main4 {
    padding: 20px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Huaca_del_Sol_-_Ao%C3%BBt_2007.jpg/1920px-Huaca_del_Sol_-_Ao%C3%BBt_2007.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

.main5 {
    padding: 20px;
    background-image: url('https://lh3.googleusercontent.com/pw/ACtC-3dW35sOT_N5s3odWsLBL3eu8Z9_-t4gYR9etNXUPYReFdSoHGQzAkHKQN_4Ko-3dvT_6NkUEgEoksHG-82RG_AAoTiKiB1hPrOtBXIrVcinSxy1oPY-o-Uuk5o_cLiWaGF9iYCYbKhwvkSKke528WD99w=w1000-h750-no?authuser=0');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

.main6 {
    padding: 20px;
    background-image: url('https://cdn2.civitatis.com/peru/nazca/galeria/big/piramide-cahuachi.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

.main7 {
    padding: 20px;
    background-image: url('https://assets.isu.pub/document-structure/210607135942-e2b1ef9b43e4de76117c127136614c71/v1/db65ad41c65a24ac3f7b011efd97eb5c.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

.main8 {
    padding: 20px;
    background-image: url('https://tse1.mm.bing.net/th/id/OIP.Uj4fh1gR3ID_momd_0lvoQHaDw?pid=Api&P=0&h=180');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

.main9 {
    padding: 20px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Zonnepoort_tiwanaku.jpg/1280px-Zonnepoort_tiwanaku.jpg');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    height: 640px;
}

article {
    margin-bottom: 10px;
}

footer {
    background: #4e3a3a;
    color: #ff7a7a;
    text-align: center;
    padding: 10px 0;
}

#caral {
    background-image: url(./IMG/000274266W.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#chavin {
    background-image: url(./IMG/CHAVINs.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#lima {
    background-image: url(./IMG/Limasd.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#moche {
    background-image: url(./IMG/mochics.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#paracas {
    background-image: url(./IMG/paacas.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#nazca {
    background-image: url(./IMG/nazcah.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#wari {
    background-image: url(./IMG/wariorhuari.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#chimu {
    background-image: url(./IMG/chimues.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#tiwanaku {
    background-image: url(./IMG/tiwanaku.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#inca {
    background-image: url(./IMG/machu.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#machupicchu {
    background-image: url(./IMG/Machu_Picchu_\(5055856044\).jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#chanchan {
    background-image: url(./IMG/ChanChan.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#chavindehuantar {
    background-image: url(./IMG/chavindehuantar.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#huacasdelsolydelaluna {
    background-image: url(./IMG/HuacadelaLuna.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#lineasdenazca {
    background-image: url(./IMG/LineasNazca.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#ollantaytambo {
    background-image: url(./IMG/Ollaytantambo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#kuelap {
    background-image: url(./IMG/Kuelap.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#pachacamac {
    background-image: url(./IMG/Pachacamac.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#sacsayhuaman {
    background-image: url(./IMG/Sayscahuaman.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.nav-culturas {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: peachpuff;
    padding: 10px;
    border-radius: 20px;
}

.nav-sitios {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: peachpuff;
    padding: 10px;
    border-radius: 20px;
}

